{% load static %}
<header class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <a href="/" class="logo">
      <img src="{% static 'images/formaspacelogo-wrapper.svg' %}" alt="FormaSpace Logo" />
    </a>

    <!-- Hamburger button (for mobile) -->
    <button class="menu-toggle" aria-label="Toggle menu">&#9776;</button>

    <!-- Navigation wrapper -->
    <div class="nav-wrapper">
      <!-- Main Navigation -->
      <ul class="nav-links main-nav">
        <li class="dropdown">
          <a href="{% url 'offices:private_office' %}" class="dropdown-toggle">SPACES</a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'offices:private_office' %}">Private Offices</a></li>
            {% comment %} <li><a href="{% url 'offices:co_working' %}">Co-working</a></li>{% endcomment %}
            {% comment %}<li><a href="{% url 'offices:virtual_office' %}">Virtual Offices</a></li>{% endcomment %}
            {% comment %}<li><a href="{% url 'offices:meeting_rooms' %}">Meeting Rooms</a></li>{% endcomment %}
          </ul>
        </li>
        <li><a href="{% url 'blog:post_list' %}">JOURNAL</a></li>
        <li><a href="{% url 'branding:about' %}">ABOUT</a></li>
        <li><a href="{% url 'pages:connectivity' %}">CONNECTIONS</a></li>
        <li><a href="{% url 'enquiries:enquiry_create' %}">ENQUIRE</a></li>
        <li><a href="{% url 'locations:location' %}">LOCATIONS</a></li>
        {% comment %}<li><a href="{% url 'blog:event_list' %}">EVENTS</a></li>{% endcomment %}
      </ul>

    </div>
  </div>
</header>